# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Custom
.*.~undo-tree~
*.png
*.ggb
*.nb
*.tex
*.out
*.pdf
*.pptx
*.svg
*.jpg

# Custom directories
bcurves/
rose-hulman-notes/
python_tests/
research_docs/
